.main-inner {
  margin: 0 auto;
  padding: 0;
  width: 1366px;

  outline: 1px solid black;
  outline-offset: -1px;
}

.inner-header {
  margin: 0 auto;
  padding: 0;
  padding-left: 98px;
  margin-top: 32px;

  outline: 1px solid red;
  outline-offset: -1px;

}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 335px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  width: 379px;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid red;
  outline-offset: -1px;
}

.section-sorting-filter-wrapper {
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  width: 1170px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.30);

  outline: 1px solid red;
  outline-offset: -1px;
}

.section-sorting-filter {
  margin: 0 auto;
  padding: 0;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
}

.form-filter-wrapper {
  margin: 0;
  padding: 0;
  width: 823px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

}

.section-sorting-wrapper {
  margin: 0;
  padding: 0;
  width: 196px;
  margin-right: 24px;

  outline: 1px solid red;
  outline-offset: -1px;
}


.section-sorting-title {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 8px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 196px;

  outline: 1px solid red;
  outline-offset: -1px;
}


.select-control {
  margin: 0;
  padding: 8px 63px 8px 16px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 196px;
  appearance: none;
  border: none;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);

  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  width: 196px;
  margin-right: 24px;
  appearance: none;
  border: none;


  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 8px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.range {
  margin: 0;
  padding: 18px 16px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.range-scale {
  width: 164px;
  position: relative;
  height: 2px;
  padding: 0;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/catalog/range-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-form {
  margin: 0;
  padding: 0;
  width: 823px;
  appearance: none;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid red;
  outline-offset: -1px;
}

.form-filter-wrapper {
  margin: 0;
  padding: 0;
  width: 823px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter-fat {
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;

  outline: 1px solid red;
  outline-offset: -1px;

}

.catalog-filter-list-fat {
  margin: 0;
  padding: 8px 24px;
  padding-left: 40px;
  list-style-type: none;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 383px;
  border-radius: 18px;
  background-color: rgba(252, 252, 252, 0.30);
  justify-content: space-between;
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter-item-fat:not(:last-child) {
  margin-right: 40px;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 8px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.filter-group-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  width: 809px;
  display: grid;
  grid-template-columns: 604px 189px;
  column-gap: 16px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  width: 604px;
  border: none;
  appearance: none;

  outline: 1px solid red;
  outline-offset: -1px;

}

.catalog-filter-list {
  margin: 0;
  padding: 10px 24px;
  padding-left: 40px;
  margin-right: 16px;
  list-style-type: none;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 604px;
  border-radius: 18px;
  background-color: rgba(252, 252, 252, 0.30);
  justify-content: space-between;
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}

.control-input {
  appearance: none;
}


.control {
  position: relative;
}






.control::before:checked {
  position: absolute;
  bottom: 12px;
  left: 5px;
  width: 16px;
  height: 16px;
  content: "";
  background-position: center;
  background: url(../images/catalog/check-on.svg) no-repeat;
  z-index: 5;
}





.control-input[type="radio"] {
  border-radius: 50%;


}

.control-input[type="radio"]:checked {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 50%;

}

.button-filter-apply {
  margin: 0;
  padding: 8px 32px;
  margin-top: 28px;
  width: 189px;
  height: 40px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-radius: 20px;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.30);
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}


/* Каталог товаров */
.section-catalog-list {
  margin: 0 auto;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 40px;
  width: 1170px;
  justify-content: center;
  list-style-type: none;

  outline: 1px solid red;
  outline-offset: -1px;
}

/* Пагинация */
.pagination-container {
  margin: 0 auto;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 41px;
  margin-bottom: 40px;
  width: 1366px;
  display: flex;
  align-items: center;


  outline: 1px solid red;
  outline-offset: -1px;

}

.button-download-more {
  margin: 0;
  padding: 8px 28px;
  margin-left: 488px;
  width: 179px;
  height: 44px;
  color: #2D3440;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.40);
  background: #FCFCFC;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  box-sizing: border-box;


}

.pagination-navigation-container {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 168px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 168px;
}

.pagination-link {
  margin: 0;
  padding: 2px 8px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: #2D3440;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

.pagination-current {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FCFCFC;
}
